<div id="contentCtr">
    <h2 id="pageTitle">User Storage</h2>
    
    <div id="folderCtr">
      <button id="newFolderBtn">Add new folder</button>
    <% const folders = currentUser?.folders ?? []; %>
    <% const folderFileError = locals.fileError || null; %>
    
    <% if (folders.length === 0) { %>
        <p>No Folders yet! Set some up!</p>
    <%} else {%>
    <% folders.forEach((folder) => { %>
        <div class="folder">
          <div class="folderName">
            <h2><%= folder.name %></h2>
            <svg data-folderId='<%-folder.id%>' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M320 208C289.1 208 264 182.9 264 152C264 121.1 289.1 96 320 96C350.9 96 376 121.1 376 152C376 182.9 350.9 208 320 208zM320 432C350.9 432 376 457.1 376 488C376 518.9 350.9 544 320 544C289.1 544 264 518.9 264 488C264 457.1 289.1 432 320 432zM376 320C376 350.9 350.9 376 320 376C289.1 376 264 350.9 264 320C264 289.1 289.1 264 320 264C350.9 264 376 289.1 376 320z"/></svg>
            <div class="folderOptionsMenu hidden" data-folderId='<%-folder.id%>'>
              
                
                  <button class="renameFolder" data-folderId="<%- folder.id %>">Rename Folder</button>
                  <button class="deleteFolder" data-folderId="<%- folder.id %>">Delete Folder</button>
                
            </div>
            </div>
            <div class="fileDropdownCtr hidden">
              <div class="filesCtr">
                <% if (!folder.files || folder.files.length <= 0) { %>
                    <p class=""> No files in this folder yet!</p>
               <% } %>
                <% folder.files.forEach((file) => { %>
                    <div class="fileItem">
                        <p><%- file.displayName %></p>
                        <button class="renameFileBtn" data-fileId="<%-file.id%>">Rename File</button>
                        <button class="deleteFileBtn" data-fileId="<%-file.id%>">Delete File</button>    
                    </div>
               <% }) %>
              </div>
               <button class="addFileBtn " data-folderId='<%-folder.id %>'>Add File</button>
            </div>
            
        </div>
        <% if (fileError && fileError.folderId === folder.id)  { %>
                <% fileError.messages.forEach((msg) => { %>
                    <p><%- msg %></p>
                <% }) %>
            <%}%>
        
    <%}) %>
    <% } %>
    </div>
    <div id="modal" class="hidden" aria-hidden="true">
        <div class="modalCard" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
            <div id="modalBody"></div>
        </div>
    </div>

    <div id="background" class="hidden"></div>
<template id="tpl-add-folder">
  <% if (errors && errors.length > 0) { %>
                <% errors.forEach((error) => { %>
                    <p><%- error.msg %></p>
                <% }) %>
            <%}%>
  <form id="form-add-folder" action="/folder" method="POST">
    <h3 id="modalTitle">Add Folder</h3>

    <label for="folderName">Folder name</label>
    <input id="folderName" name="name" type="text" required />

    <div class="actions">
      <button type="submit">Create</button>
      <button type="button" data-close>Cancel</button>
    </div>
  </form>
</template>

<template id="tpl-rename-folder">
  <form id="form-rename-folder" method="POST">
    <% if (errors && errors.length > 0) { %>
                <% errors.forEach((error) => { %>
                    <p><%- error.msg %></p>
                <% }) %>
            <%}%>
    <h3 id="modalTitle">Rename Folder</h3>

    <input type="hidden" name="folderId" id="renameFolderId" />

    <label for="newFolderName">New folder name</label>
    <input id="newFolderName" name="newName" type="text" required />

    <div class="actions">
      <button type="submit">Rename</button>
      <button type="button" data-close>Cancel</button>
    </div>
  </form>
</template>

<template id="tpl-delete-folder">
  <form id="form-delete-folder" method="POST">
    <h3 id="modalTitle">Delete Folder</h3>

    <p>Are you sure you want to delete this folder?</p>
    <p><strong id="deleteFolderName"></strong></p>

    <input type="hidden" name="folderId" id="deleteFolderId" />

    <div class="actions">
      <button type="submit">Delete</button>
      <button type="button" data-close>Cancel</button>
    </div>
  </form>
</template>

<template id="tpl-add-file">
  <form id="form-add-file" method="POST" enctype="multipart/form-data">
    <h3 id="modalTitle">Add File</h3>

    <label for="fileInput">Choose file</label>
    <input id="fileInput" name="file" type="file" required />

    <div class="actions">
      <button type="submit">Upload</button>
      <button type="button" data-close>Cancel</button>
    </div>
  </form>
</template>

<template id="tpl-rename-file">
  <form id="form-rename-file" method="POST">
    <h3 id="modalTitle">Rename File</h3>

    <input type="hidden" name="fileId" id="renameFileId" />

    <label for="newFileName">New file name</label>
    <input id="newFileName" name="newName" type="text" required />

    <div class="actions">
      <button type="submit">Rename</button>
      <button type="button" data-close>Cancel</button>
    </div>
  </form>
</template>

<template id="tpl-delete-file">
  <form id="form-delete-file" method="POST">
    <h3 id="modalTitle">Delete File</h3>

    <p>Are you sure you want to delete this file?</p>
    <p><strong id="deleteFileName"></strong></p>

    <input type="hidden" name="fileId" id="deleteFileId" />

    <div class="actions">
      <button type="submit">Delete</button>
      <button type="button" data-close>Cancel</button>
    </div>
  </form>
</template>

</div>